{% extends "base.html" %}


{% block content %}

<header class="masthead">
 
    <h2 class="text-white mt-0">Polls</h2>
    <p class="text-white-75 mb-4">This polls application is built using Django on the backend with a PostGreSql database and HTML5/CSS3/JavaScript and Bootstrap on the front end. New polls are added from the admin menu, and each added poll dynamically generates a new page and unique url for the poll itself, as well as a results page</p>
         


{% if latest_question_list %}
    <div id='polls'>
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% else %}
    <p class="text-white-75 mb-4">No polls are available.</p>
{% endif %}
</header>
{% endblock content %}
