{% extends 'home.html' %} 

{% block content %}
<header class="masthead">

    <h2>Blogs</h2>
    <p >This blog is built using Django on the backend with a PostGreSQL database and HTML5/CSS3/Javascript and bootstrap on the frontend. The blogs are added and controlled in the admin dashboard and each new blog post dynamically generates a unique page and url based on a slug, which is in turn generated automatically from the title of the post.</p>

  <div class="blog_entries">
  <!-- Blog Entries Column -->
  {% for post in post_list %}
    <div class="card-body">
      <div class='card-title-line'>
        <span id='card-title'>&#8594 {{ post.title }}</span>
      </div>
      <p>{{ post.author }} | {{ post.created_on}}  </p>
      <p>{{post.content|safe|slice:":200" }}</p>
      <a href="{% url 'blog:blog_post_detail' post.slug  %}" class="site-button" >Read More</a>
  </div>
</header>
      {% endfor %}
{% endblock content %}
