{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>Eric's interactive Portfolio</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{%static 'css/base.css'%}">
    </head>

    <body>
        <div id='topbar'><h1>eric thomas anderson</h1>
            <ul>
               <li><a href='mailto:anderson.eric.t@gmail.com'> Contact via email</a></li>
               <li><a href="https://github.com/ETAnderson">Eric on Github</a></li>
             </ul>
          </div>
          <div id='main'>
          <h2>Mission Statement</h2>
            <p id='mission_statement'>
                To showcase software developement skills in an interactive and expressive format.
            </p>
          </div>
 
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

{% block sidebar %}      
<!-- Sidebar Widgets Column -->
{% endblock sidebar %}

        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; Eric Anderson</p>
        </footer>
    </body>
</html>
