{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>Eric's interactive Portfolio</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{%static 'css/base.css'%}">
    </head>
    
    <body>
        <div id='topbar'><h1>Eric Anderson</h1>
            <ul>
               <li><a href='mailto:anderson.eric.t@gmail.com'> Contact via email</a></li>
               <li><a href="https://github.com/ETAnderson">Eric on Github</a></li>
             </ul>
          </div>
          <div id='main'>
          <h2>Mission Statement</h2>
            <p id='mission_statement'>
                To showcase software developement skills in an interactive and expressive format.
            </p>
          </div>

        <div id='block_content'>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        </div>

        <!-- Footer -->
        <footer>
            <p ">Copyright &copy; Eric Anderson</p>
        </footer>
    </body>
    {% block sidebar %}
    {% include 'sidebar.html' %}
    {% endblock sidebar %}
</html>
