{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Eric's Interactive Portfolio</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{%static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'home' %}">ERIC'S INTERACTIVE PORTFOLIO</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}#portfolio">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://github.com/ETAnderson">GitHub</a></li>
                        <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/eric-anderson-10862b20b/">LinkedIn</a></li>
                        <li class="nav-item"><a class="nav-link" href="{%static 'files/Eric_Anderson_CV.pdf' %}" download>Resume</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href='mailto:anderson.eric.t@gmail.com'>Email</a></li> -->
                    </ul>
                </div>
            </div>
        </nav>
    {% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Welcome!</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">As a developer from a skilled trades background, I became used to eyes glazing over when asked about my career and decided there was a solution for this: rather then explaining components of software development to people who wouldn't use the knowledge in any other aspect of their life, I would make my portfolio site a way for people to experience the knowledge and skills that I have gained in a way that those who aren't programatically adept will be able to engage with.</p>
                        <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Nice to meet you!</h2>
                        <hr class="divider divider-light" />
                        <img id="portrait" src="{% static 'img/portrait.png' %}"
                        <p class="text-white-75 mb-4">Hello, my name is Eric and welcome to my interactive portfolio! My wife, Rochelle, and I currently reside in West Michigan. I personally enjoy reading a variety of genres, non-fiction for continued learning and fiction purely for entertainment, as well as gaming, cooking, and just spending time together with the love of my life</p>
                        <a class="btn btn-light btn-xl" href="#services">What I offer</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">At Your Service</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Python</h3>
                            <p class="text-muted mb-0">Django, Flask, Alchemy, Marshmallow, SQL</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Front End</h3>
                            <p class="text-muted mb-0"> React, HTML5, CSS3, Javascript, Bootstrap</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Deployment</h3>
                            <p class="text-muted mb-0">Heroku</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Compassion</h3>
                            <p class="text-muted mb-0">I am actually a really nice guy</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% url 'blog:base' %}" title="Blog">
                            <img class="img-fluid" src="{%static 'img/portfolio/thumbnails/1.jpg' %}" alt="Blog" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Project</div>
                                <div class="project-name">Blog</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="{% url 'polls:index' %}" title="Polls">
                            <img class="img-fluid" src="{%static 'img/portfolio/thumbnails/2.jpg' %}" alt="Polls" />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Project</div>
                                <div class="project-name">Polls</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="{%static 'img/portfolio/fullsize/3.jpg' %}" title="Project Name">
                            <img class="img-fluid" src="{%static 'img/portfolio/thumbnails/3.jpg' %}" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50">Projects</div>
                                <div class="project-name">Placeholder</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{%static 'js/scripts.js' %}"></script>
   </body>
</html>