{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Eric's Interactive Portfolio</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{%static 'css/base.css' %}">
        <link rel="stylesheet" media="only screen and (max-width:600px)" href="{%static 'css/max-width-600px.css' %}" /> 
    </head>
    <body>

    {% block topbar %}
    {% include 'topbar.html' %}
    {% endblock topbar %}

    <div id="block-content">
        {% block content %}
        <div id='main'>
            <h1 id='mission_statement'>Mission Statement</h1>
                <p>
                    To showcase software development skills in an interactive and expressive format.
                </p>
        </div>
        {% endblock content %}
    </div>
    </body>
</html>
