{% extends 'home.html' %} 

{% block content %}

<header class="masthead">
 
    <h1 class="text-white font-weight-bold">Polls</h1>
    <p class="text-white-75 mb-5">Boy do i have quesions! &nbsp</p>

    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}

</header>

{%endblock%}
