* {
    font-family: 'KoHo', sans-serif;
}

@media only screen and (max-width: 600px) {
    #block-content {
        margin-top: 200px;
    }
}

body {
    margin: 0;
    background-color: rgb(250, 250, 250);
}

#block-content {
    display: flex;
    flex-flow: column;
    margin-top: 120px;
    text-align: center;
}

h2 {
    color: rgb(32, 23, 68);;
}

h3 a {
    color: #adadad;
    text-decoration: none;
}

footer {
    margin: 0;
    text-align: center;
}

.comments {
    text-align:  center;
}

.masthead {
    margin:auto;
}
.site-button {
    color: rgb(255, 255, 255);
    background-color: rgb(32, 23, 68);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-sizing: none;
    border: none;
}

.site-button:hover {
    color: darkorange;
} 

#main {
    text-align: center;
}

#mission_statement {
    color:rgb(32, 23, 68); 
}

/* BLOG */

.blog_entries {
    text-align: center;
}

.blog_entries p {
    margin: 20px;
}

#card-title {
    font-size: 16px;
    color:rgb(32, 23, 68);
}

.card-title-line a {
    margin-left: 100px;
}

/* POLLS */

#block-content a {
    text-decoration: none;
}

#block-content ul {
    margin: auto;
    display: inline-block; 
	text-align: left;
}

#polls {
    text-align: center;
    font-size: larger;
    text-decoration: none;
    list-style: none;
}

#polls li {
    list-style: none;
}

#detail-form {
    justify-content: left;
}

#poll-details {
    text-align: center;
}

#poll-details h1 {
    text-align: center;
    color:rgb(32, 23, 68);
}

/* COMMENT BLOCK */

.card-body #id_name, #id_email, #id_body {
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

/* TOPBAR */

#home-link {
    font-size: 24px;
    text-decoration: solid;
    color: rgb(93, 93, 97);
}

#topbar {
    align-items: center;
    position: absolute; top:0%;
    display:flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: 16px;
    background-color: inherit;
    overflow: visible;
    padding-top: 20px;
}

#topbar a {
    padding: 10px;
}

#topbar a:hover {
    color: darkorange;
}

/* PROJECTS DROPDOWN */

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

.dropdown_container {
    float: none;
    display: none;
    background-color: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:5px;

}

.dropdown_container a {
    color: rgb(32, 23, 68);
    background-color: inherit;
    text-decoration: none;
    display: block;
    text-align: center;
  }

.dropdown_container li {
    list-style: none;
}
  
  .show {
    display: inline-block;
  }
